<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" optimizeCompilations="false"/>
    

  </system.web>
  <connectionStrings>
    <add name="con" connectionString="server=IDCSQL3.znetlive.com,1234;Database=ritedu;uid=ritedu; pwd=Haldwani@123; "/>
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"  >
       
    </customErrors>
  </system.web>
   
</configuration>